@font-face{font-family:Antonio;font-style:normal;font-weight:700;font-display:swap;src:url(/assets/Antonio-Bold_IsikBdNnGsHODMJkaswdt.ttf) format("truetype")}
@font-face{font-family:Inter Variable;font-style:normal;font-weight:100 900;font-display:swap;src:url(/assets/InterVariable_qDqxtwB6S7W69tcm-FSxu.woff2) format("woff2")}
@font-face{font-family:Syne;font-style:normal;font-weight:400;font-display:swap;src:url(/assets/Syne-Regular_szvwJ6JnWSKmxaEUbfwZ7.ttf) format("truetype")}
@layer presets{
    :root{display:grid;min-height:100%;font-family:Arial,Roboto,sans-serif;font-size:16px;line-height:1.2;}
    a.w-element{box-sizing:border-box;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;outline-width:1px}
    body.w-element{box-sizing:border-box;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin:0}
    div.w-element,p.w-element{box-sizing:border-box;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;outline-width:1px}
    div.w-html-embed{display:contents;white-space:normal;white-space-collapse:collapse}
    body.w-body{box-sizing:border-box;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin:0}
    div.w-box,h1.w-heading,h2.w-heading{box-sizing:border-box;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;outline-width:1px}
    img.w-image{box-sizing:border-box;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;outline-width:1px;max-width:100%;display:block;height:auto}
}
@media all{
    .c1bfcea4{display:flex}
    .c1czdwy7{justify-content:center}
    .c1wmux4u{align-items:center}
    .c11o80pz{background-color:#fff}
    .cofyx9n{position:relative}
    .ce7kdtr{text-align:center}
    .c1dh17dx{font-weight:900}
    .c117xpov{font-size:8rem}
    .c1uk9pbo{line-height:1}
    .c194st9r{letter-spacing:-.05em}
    .c2tvqt2{position:absolute}
    .ciw2du0{top:0}
    .cn340lr{right:-.125rem}
    .c1xq6g1c{bottom:0}
    .c1i2sqjh{left:.125rem}
    .chnmf9c{opacity:.3}
    .c1vcco31{right:.125rem}
    .csvci1l{left:-.125rem}
    .ct3d9o4{top:50%}
    .c190gz2w{left:0}
    .cr9lvm4{width:100%}
    .c19sibqn{height:.375rem}
    .c1rbooep{margin-top:1.5rem}
    .c18rwh0i{font-weight:700}
    .c4bwdli{font-size:1.5rem}
    .cw2a208{line-height:2rem}
    .crlkzp8{letter-spacing:.05em}
    .c8vmyhe{display:inline-flex}
    .c1p7htsl{row-gap:6px}
    .cstyr7{column-gap:6px}
    .c1x38uh6{position:fixed}
    .cg98x3c{z-index:1000}
    .c1pq64iv{padding-top:6px}
    .cxsz3na{padding-right:10px}
    .c1u57kou{padding-bottom:6px}
    .curbxxb{padding-left:10px}
    .c1n0x00q{right:16px}
    .c1um7b7p{bottom:16px}
    .c15l65w6{color:#fbfcfd}
    .c69er0k{font-family:system-ui,sans-serif}
    .cv33vcq{font-size:12px}
    .cuz2ps4{font-weight:500}
    .c1kjpias{border-top-left-radius:9px}
    .ch8tcnc{border-top-right-radius:9px}
    .c8rhmfz{border-bottom-right-radius:9px}
    .c1urxbwo{border-bottom-left-radius:9px}
    .clwqwuk{text-decoration-line:none}
    .ct5k754{-webkit-background-clip:padding-box,border-box;background-clip:padding-box,border-box}
    .cq12cex{background-origin:padding-box,border-box}
    .c1cmpens{background-image:linear-gradient(135deg,#4a4efa,#bd2fdb 66%,#ec59ce),linear-gradient(135deg,#92fddc,#7d7ffb 31.94%,#ed72fe 64.24%,#fdd791)}
    .c1yllpry{border:1px solid transparent}
    .c1nv96m7{white-space:nowrap}
    .c1416pdd{display:block}
    .c1kvneey{width:16px}
    .c17qy1nj{height:16px}
    .ce3tmv2{flex-shrink:0}
    .ctqnn9u{background-color:#f27d16}:root{font-family:Inter Variable,sans-serif;letter-spacing:-.005em;background-color:#fafafa;font-size:16px}
    .c1eyqadr{padding-top:5rem}
    .c6kge3h{align-items:start}
    .c10t6kk8{justify-content:space-around}
    .c1uewl5h{align-content:start}
    .c1j8v2vf{column-gap:1rem}
    .c1x533ac{max-width:90rem}
    .c1iykagj{margin-right:auto}
    .cfh6oqc{margin-left:auto}
    .czobinv{width:auto}
    .cp03ogc{padding-bottom:5rem}
    .c1am922u{text-align:start}
    .cumz30s{flex-wrap:nowrap}
    .c1uubzx7{font-family:Syne,sans-serif}
    .c12qyb2f{font-size:1em}
    .cstbtbw{position:sticky}
    .c11xduaw{top:10rem}
    .cogjkbx{flex-direction:column}
    .cxvzzke{justify-content:start}
    .c2zc7xv{row-gap:2rem}
    .c1ahv69h{max-width:40rem}
    .cota0w4{margin-top:2rem}
    .ctl4sxb{margin-left:2em}
    .cfjshc2{margin-right:2em}
    .c1wgw1yf{row-gap:1.5rem}
    .cevchdv{column-gap:1.5rem}
    .ce8zcy2{margin-top:0}
    .c1g1kwuu{margin-bottom:0}
    .c1706ez1{text-transform:none}
    .cdopsp3{color:#000}
    .c12xlzos{font-weight:400}
    .c5u0onc{line-height:1.4}
    .c1amdmt3{font-size:1.6rem}
    .c1af0enh{font-style:italic}
    .c3z8tmo{text-wrap:balance}
    .cvqe945{margin-bottom:.2em}
    .cmkisc0{font-size:5rem}
    .cdfsj6e{font-family:Antonio,sans-serif}
    .c11sqjid{column-gap:10rem}
    .chd765f{font-size:.8125rem}
    .c1rqrd5j{-webkit-overflow-scrolling:unset}
    .c1tki8b4{height:auto}
    .cp86idw{object-fit:fill}
    .c1w1wpho{row-gap:1.25px}
    .c17o4zu3{outline-style:none}
    .c1e4ixuh{flex-wrap:wrap}
    .c128quct{column-gap:1.5em}
    .cvggz8e{row-gap:1.5em}
    .c1u26wjn{overflow-x:visible}
    .c5sgrjy{overflow-y:visible}
    .c1xtayes{height:18em}
    .crtw2am{font-size:1rem}
    .c157tist{height:3em}
    .c1x60yd7{width:3em}
    .ci72c2a{align-self:auto}
    .c1uwnse5{flex-grow:0}
    .c1ewo9qe{margin-right:0}
    .c1ccj76l{font-size:1.2em}
}
@media all and (max-width: 991px){
    .c12mp41u{flex-direction:column}
    .c1lxo475{align-items:center}
    .c133v6cq{justify-content:start}
    .czgkxt7{flex-wrap:nowrap}
    .c134hdpj{row-gap:4rem}
    .c1ojhgti{padding-top:4rem}
    .cdetybw{position:static}
    .c14t43pl{max-width:36rem}
    .c1jytrgq{margin-top:0rem}
    .c3t4o70{display:flex}
    .c1lx68b2{flex-direction:row}
    .cpw8xzb{width:85%}
    .c1g1jbpj{margin-bottom:0rem}
    .cxuv93y{font-size:1.5rem}
    .c1hnwsjz{font-size:5rem}
    .c1hobtvy{column-gap:3rem}
    .c175k8nx{column-gap:1.5em}
    .cry3tzl{row-gap:1.5em}
    .csr268e{flex-wrap:wrap}
    .c14exd3l{justify-content:center}
    .c14dori2{margin:auto}
}
@media all and (max-width: 767px){
    .cmlli29{padding-top:2rem}
    .cmv6a6s{row-gap:3rem}
    .c1bxsm1{row-gap:1.5rem}
    .cskzlqr{align-items:center}
    .cdn2w3d{justify-content:start}
    .cndalh{max-width:none}
    .cwxksjg{width:90%}
    .c1vhr1n4{font-size:1.2rem}
    .c1ggm3uv{font-size:3rem}
    .c15r6aqq{padding-top:4rem}
    .c1cjbao6{flex-direction:column}
    .c7g8xd0{align-items:stretch}
    .c1rgjgug{justify-content:center}
    .c1ytpa4g{padding-left:1rem}
    .c8v3z5b{padding-bottom:4rem}
    .c1uibgvg{padding-right:1rem}
    .cvzhqu5{text-align:center}
}
@media all and (max-width: 479px){
    .c184bjki{row-gap:2.5rem}
    .c1jkdzqb{column-gap:1.25rem}
    .cvn78rz{font-size:1rem}
    .c1dgrgdt{font-size:3rem}
    .c8vyqrt{font-size:1em}}
